.chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    max-width: 600px;
    height: 200px;
    margin: 20px auto;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 2%, rgba(0, 0, 0, 0) 2%);
    background-size: 100% 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.chart li {
    flex: 1;
    text-align: center;
    list-style-type: none;
}

.chart span {
    display: block;
    background-color: #8643c1;
    color: #fff;
    font-size: 0.9rem;
    padding: 2px 5px;
    border-radius: 3px;
    animation: draw 1s ease-in-out;
    transition: all 0.3s ease;
}

.chart span:hover {
    background-color: #c3acd6;
}

@keyframes draw {
    from {
        height: 0;
    }
    to {
        height: var(--height, 100%);
    }
}
