.toggle-btn {
  position: relative;
  cursor: pointer;
  outline: none;
}

.toggle-btn input:focus + div {
  box-shadow: 0 0 5px #007BFF;
}

.toggle-btn:hover div {
  background: #e6e6e6;
}
